body
  height: 100%
  width: 100%
  padding: 0
  margin: 0
  +light
  color: $text-color
.button-o
  border: 2px solid $primary
  padding: 17px 22px  
  cursor: pointer
  font-size: 12px
  text-transform: uppercase
  color: $primary
  background-color: #fff
  text-decoration: none
  +bold  
.button
  border: none
  text-transform: uppercase
  padding: 24px 45px  
  background-color: $primary
  color: #fff
  +bold
