body
  height: 100%
  width: 100%
  padding: 0
  margin: 0
  +light
  color: $text-color
img
  max-width: 100%  
.section
  padding: 100px 0
  &-title 
    font-style: 30px
    text-align: center
    text-transform: uppercase
    +bold
  &__title
    margin-bottom: 100px 
    margin-top: 50px
.button-o
  border: 2px solid $primary
  padding: 17px 22px  
  cursor: pointer
  font-size: 12px
  text-transform: uppercase
  color: $primary
  background-color: #fff
  text-decoration: none
  +bold  
.button
  border: none
  text-transform: uppercase
  padding: 24px 45px  
  background-color: $primary
  color: #fff
  +bold
.bg-secondary
  background: $bg-secondary
.input  
  height: 40px
  margin-bottom: 15px
.textarea
  height: 140px
  margin-bottom: 15px
[data-anime]
  opacity: 0
  transition: .3s
[data-anime="left"]
    transform: translate3d(-50px, 0, 0) 
  
[data-anime="right"]
    transform: translate3d(50px, 0px, 0px)   

[data-anime="top"]
    transform: translate3d(0px, -50px, 0px)         

[data-anime="bottom"]
    transform: translate3d(0px, 50px, 0px) 

[data-anime].animate
  opacity: 1  
  transform: translate3d(0px, 0px, 0px)
