.catalog
  background-color: #f5f6f8
  &-block
    display: flex
    justify-content: space-between
    flex-wrap: wrap 
  &__card
    margin-bottom: 30px
  &-card
    background-color: #fff
    max-width: 570px
    position: relative
    &:hover
      .catalog-card__name
        transform: translateY(-20px)
        opacity: 1
      .catalog-card__title
        transform: translateY(20px)
        opacity: 1
    &:before, &:after
      content: ''
      position: absolute
      top: 5%
      bottom: 5%
      left: 5%
      right: 5%
      transition: 0.2s
    &:before  
      border-top: solid 2px $primary
      border-bottom: solid 2px $primary
      transform: scaleX(0)
    &:after
      border-left: solid 2px $primary
      border-right: solid 2px $primary
      transform: scaleY(0)  
    &:hover:before, &:hover:after
      transform: scale(1)
    &__text
      position: relative
      display: flex
      justify-content: center
      align-items: center
      color: #fff
      text-shadow: 2px 2px 2px #000
      top: -50%
      +bold
    &__name
      position: absolute
      opacity: 0
      text-transform: uppercase
      transition: 0.2s
      transform: translateY(0)
      color: #fff
      +bold
    &__title
      position: absolute
      color: #fff
      font-size: 18px
      opacity: 0
      transition: 0.2s
      transform: translateY(0)
      color: $primary
      +bold
    &__image
      display: block

@media (max-width: 1199px)
  .catalog
    &-block
      justify-content: center
    &-card
      max-width: 470px
@media (max-width: 768px)      
  .catalog
    &-card
      &__title
        font-size: 14px
  